.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
  
    
  
}




.grid{
    width: 6.25%;
    height: 6.25%;
box-sizing: border-box;
border:dotted  royalblue;
    
}
button{
    width: 100px;
    height: 25px;
    border: solid black 2px;
    border-radius: 10%;
}
/*.grid:hover{
    background-color: sandybrown;
}
